<!DOCTYPE html>
<html>
<head>
<title>TravelDB - Database of locations round the world!</title>
<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
</head>

<body>
	<div class="row" style="box-shadow: 1px 3px 4px 0 rgba(0,0,0,0.15);">
		<div class="col-md-6" style="padding-left: 60px;">
			<h3>
				<img alt="" src="/stylesheets/logo_icon.jpg" height="40" width="40">
				<small style="color: #157DEC;">&nbsp;&nbsp;&nbsp;<b>TravelDB - </b> </small> <small>
				Database of locations!</small> 
			</h3>
		</div>
		<div class="col-md-2" style="margin-top: 20px;">
			<input type="text" class="form-control" name="firstname" placeholder="Email"/>
		</div>
		<div  class="col-md-2" style="margin-top: 20px;">	
			<input type="password" class="form-control" name="lastname" placeholder="Password"/>
		</div>
		
		<div  class="col-md-1" style="margin-top: 20px;">	
			<input type="submit" class="btn btn-default" name="Sign In" value="Sign In" style="background : #157DEC;color: white;"/>
		</div>
	</div>
	
	<div class="row" style="box-shadow: 1px 0px 5px 5px rgba(0,0,0,0.15);margin: 25px;padding: 25px;">
		<div class="col-md-12" style="padding-left: 60px;padding-bottom: 25px;">
			<p><h3 style="color: #157DEC;">Sign Up</h3>  <h4>It's free, explore the WORLD ! </h4></p>
		</div>
		<div class="col-md-6" align="center">
			<input type="text" class="form-control" name="firstname" placeholder="First Name"/>
			
			<input type="text" class="form-control" name="lastname" placeholder="Last Name" style="margin-top: 10px;"/>
			
			<input type="text" class="form-control" name="email" placeholder="Email " style="margin-top: 10px;"/>
			
			<input type="password" class="form-control" name="password" placeholder="Password" style="margin-top: 10px;"/>
			
			<input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password" style="margin-top: 10px;"/>
			
			<button type="submit" class="btn btn-default" style="margin-top: 10px;background : #157DEC;color: white;">Sign in</button>
			<h4>  Already have an account? Just <a href="">Sign In here</a></h4>	
		</div>

	</div>
</body>
</html>